*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: 4px solid #f0f;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

header { /* header */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1F2937;
  color: #fff;
  height: 36vh;
  gap: 4rem;
  padding: 0 8rem 4rem;
  width: 100%;
}

header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

.header-top .header-logo {
  font-weight: 700;
}

.header-top ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.header-top a {
  text-decoration: none;
  color: #aaa;
}

header .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.header-bottom section {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: #fff;
}

section p {
  color: #aaa;
}

section button {
  align-self: flex-start;
  font-size: 1rem;
  padding: 0.4rem 2rem;
  border-radius: 0.4rem;
  color: #fff;
  background-color: #234ff1;
  border: none;
}

.header-bottom .image {
  background-color: #aaa;
  border-radius: 0.4rem;
  height: 12rem;
  width: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bottom img {
  height: 100%;
  width: 100%;
}

main { /* main */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  background-color: #0ff;
}

main .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

main .main-images {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  width: 100%;
}

.main-images figure {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-images figcaption {
  width: 6rem;
}

.main-images img {
  border: 2px solid #3882f6;
  border-radius: 0.4rem;
}